#/app
# Android / Kotlin / Gradle
.gradle/
build/
captures/
*.apk
*.aab
*.iml
local.properties
.idea/
.DS_Store
descargadordemodeloyolo.py
.gitignore
yolov8n.onnx
yolov8n.pt
yolov8n_saved_model/fingerprint.pb
yolov8n_saved_model/metadata.yaml
yolov8n_saved_model/saved_model.pb
yolov8n_saved_model/yolov8n_float16.tflite
yolov8n_saved_model/yolov8n_float32.tflite
yolov8n_saved_model/variables/variables.data-00000-of-00001
yolov8n_saved_model/variables/variables.index
/alert_sound.wav
/crear_alerta_sonora.py
logs.txt
logs.txt
logs/logs_cortos.txt
logs/logs.zip
logs/logs1.txt
logs/logs2.txt
logs/logs3.txt
